* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

button#open {
    padding: 8px 20px;
    font-size: 20px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: turquoise;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-container.active {
    display: flex;
}

.popup {
    background-color: wheat;
    position: relative;
    padding: 20px;
    width: 25%;
}

.popup button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
}